@model List<Game>

@{
  ViewData["Title"] = "Home Page";
}


<h1 class="text-center py-4">Like The Game </h1>
<div class="container">
  <div class="row">
  <div class="col-8">

  @foreach (Game game in Model)
  {
    <div class="card mb-4" style="max-width: 740px;">
      <div class="row g-0 py-3">
        <div class="col-md-4">
          <img src="@game.ImgUrl" class="img-fluid rounded-start ml-3" alt="@game.Name">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-title h6"><a asp-controller="Game" asp-action="Details" asp-route-gameId="@game.GameId">@game.Name </a></p>
            <p class="card-text">@game.Description</p>
            <p class="card-text">Current Stock: @game.CurrentRating</p>
            <p class="card-text"><small class="text-muted">Submitted: @game.CreatedAt</small></p>
            <form asp-controller="Game" asp-action="Review" method="GET" asp-route-gameId = "@game.GameId">
              <button>Review</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  }

</div>
<div class="col-4">
  @foreach (var review in @ViewBag.reviews)
  {
    <div class="card text-center my-2">
      <div class="card-header">
        Review
      </div>
      <div class="card-body">
        <h5 class="card-title">@review.Game.Name</h5>
        <p class="card-text">@review.GameRating</p>
        <p class="card-text">@review.Review</p>
        <a href="/games/@review.GameId" class="btn btn-primary">See Review</a>
      </div>
      <div class="card-footer text-muted">
        @review.CreatedAt
      </div>
    </div>
  }
  <div class="card text-center my-2">
  <div class="card-header">
    Review
  </div>
  <div class="card-body">
    <h5 class="card-title">Game we are Reviewing</h5>
    <p class="card-text">A description of review</p>
    <a href="#" class="btn btn-primary">See Review</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
  <div class="card text-center my-2">
  <div class="card-header">
    Review
  </div>
  <div class="card-body">
    <h5 class="card-title">Game we are Reviewing</h5>
    <p class="card-text">A description of review</p>
    <a href="#" class="btn btn-primary">See Review</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>








  <div class="container ">
    <div class="row pt-5">
      <div class="col-4">

        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">New Games</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Games 1-5 years old</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vintage</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>