@model Game

<div class="text-left w-100 ml-5">
  <h1 class="display-3 font-italic">@Model.Platforms: @Model.Name</h1>
  <p>Created by: <em>@Model.Creator</em></p>
  <hr>
  <div class="d-flex align-items-center justify-content-between p-3 shadow rounded">
      <img class="w-25 h-50 ml-5 mr-5" src="@Model.ImgUrl" />
    <div class="w-75 text-left ml-5 ">
    <div>@Model.CurrentRating:</div>
    <div>
      <h3>Genres</h3>
      <ul>
        @* @foreach(string genre in @Model.Genres)
          {
          <li>@genre</li>
          } *@
      </ul>
    </div>
    <div>
      <h3>Platforms</h3>
      <ul>
        @* @foreach(string platform in @Model.Platforms)
          {
          <li>@platform</li>
          } *@
      </ul>
    </div>
    <h3>Vendors and Prices</h3>
    <ul>
      @* @foreach (string vendor in @Model.Vendors)
        {
        <li>@vendor</li>
        } *@
    </ul>
    <ul>
      @* @foreach (int price in @Model.Prices)
        {
        <li>@price</li>
        } *@
    </ul>
    <ul>
      @foreach (var review in @ViewBag.GameReviews)
      {
        if(@Model.GameId == @review.GameId)
        {
          <li>
            <div class="card-body">
              <p>Review by @review.CreatedBy.UserName</p>
              <p>@review.GameRating</p>
              <p>@review.Review</p>
            </div>
          </li>
        }
        else
        {
          <p>No reviews found.</p>
        }
      }
    </ul>
  </div>
</div>
<hr>
<div class="d-flex align-items-center">
    <h1 class="display-4 font-italic mr-5">Reviews</h1>
    <div class="w-75 ml-5 mr-5 d-flex justify-content-between">
      <a href="#">On Release</a>
      <a href="#">s1</a>
      <a href="#">s2</a>
      <a href="#">s3</a>
      <a href="#">Current</a>
    </div>
</div>
<div class="w-75">
  <h3>Example Review</h3>
</div>
