@model Game

<div class="text-left w-100 ml-5">
  <h1 class="display-4 font-italic">@Model.Platforms: @Model.Name</h1>
  <p>Created by: <em>@Model.Creator</em></p>
  <hr>
  <div class="d-flex align-items-center justify-content-between p-3 shadow rounded">
      <img class="w-25 h-50 ml-5 mr-3" src="@Model.ImgUrl" />
        <div class="w-75 text-left">
          <div class="d-flex justify-content-between align-items-center align-top">
    <div>
      <blockquote class="blockquote">
        <footer class="blockquote-footer"><cite title="Source Title">@Model.Name, @Model.Creator | @Model.Genres | @Model.Platforms </cite></footer>
      </blockquote>
    </div>
            <h1 class="mr-5">
              @Model.CurrentRating
            </h1>
          </div>

        <div>
        </div>
      </div>
    <div>

    </div>
  </div>
</div>
<hr>
<div class="d-flex align-items-center">
    <h1 class="display-4 font-italic mr-5">Reviews</h1>
    <div class="w-75 ml-5 mr-5 d-flex justify-content-between">
      <a href="#">On Release</a>
      <a href="#">s1</a>
      <a href="#">s2</a>
      <a href="#">s3</a>
      <a href="#">Current</a>
    </div>
</div>
<hr>
<div class="w-75">
  <div class="ml-2">
      @if(@ViewBag.GameReviews != null)
      {
        @foreach (var review in @ViewBag.GameReviews)
        {
          @if(@Model.GameId == @review.GameId)
          {
            <div>
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <h1 class="ml-3 mr-3">@review.GameRating</h1>
                    <blockquote class="blockquote">
                      <footer class="blockquote-footer"><cite title="Source Title">@review.CreatedBy.UserName </cite></footer>
                    </blockquote>
                  </div>
                <p>@review.Review</p>
              </div>
            </div>
          }
          else
          {
          <h5 class="font-italic">Be the first to Review @Model.Name by <a href="#">clicking here!</a></h5>
          }
        }
      }

  </div>
</div>
