@model Game

@{
    ViewData["Title"] = "Home Page";
}
<h1 class="py-5 text-center">Edit Game</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img class="card-img-top pr-5" src="@Model.Src" alt="@Model.Title">
    </div>
    <div class="col-6">
      <div class="border border-dark rounded-left m-3 shadow p-3 mb-2 bg-secondary rounded">
      <form asp-controller="Game" asp-action="Create" method="POST">
        <h2 class="text-center my-3">Edit game</h2>
        <div class="form-group">
          <label asp-for="Name"></label>
          <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
          <input asp-for="Name" class="form-control" value="@Model.Name" />
        </div>

        <div class="form-group">
          <label asp-for="CurrentRating"></label>
          <span asp-validation-for="CurrentRating" class="text-danger font-weight-bold"></span>
          <input asp-for="CurrentRating" class="form-control" value="@Model.CurrentRating" />
        </div>

        <div class="form-group">
          <label asp-for="Creator"></label>
          <span asp-validation-for="Creator" class="text-danger font-weight-bold"></span>
          <input asp-for="Creator" class="form-control" value="@Model.Creator" />
        </div>

        <div class="form-group">
          <label asp-for="Genres"></label>
          <span asp-validation-for="Genres" class="text-danger font-weight-bold"></span>
          <select asp-for="Genres" class="form-control" value="@Model.Genres">
            <option value="FPS">FPS</option>
            <option value="Puzzle">Puzzle</option>
            <option value="RTS">RTS</option>
            <option value="RPG">RPG</option>
            <option value="Metroidvania">Metroidvania</option>
            <option value="Action">Action</option>
            <option value="Sports">Sports</option>
            <option value="Simulation">Simulation</option>
          </select>
        </div>

        <div class="form-group">
          <label asp-for="Platforms"></label>
          <span asp-validation-for="Platforms" class="text-danger font-weight-bold"></span>
          <select asp-for="Platforms" class="form-control" value="@Model.Platforms">
            <option value="PC">PC</option>
            <option value="Playstation 5">Playstation 5</option>
            <option value="Xbox Series X">Xbox Series X</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="PS">PS</option>
            <option value="Xbox">Xbox</option>
            <option value="Nintendo">Nintendo</option>
            <option value="Sega">Sega</option>
          </select>
        </div>

        <button class="btn btn-outline-primary text-center">Register</button>
      </form>
      </div>
    </div>
  </div>
</div>